h1{
 background-color:yellow;
 text-align: center;
}
.logo{
   width: 70px;
   height:100%;
   
 }
.header{
   display: flex;
   justify-content: space-between;
   margin: 10px;
   border: 3px solid red;
}
 
.nav>ul{
   list-style-type: none;
   display: flex;
   margin-right: 20px;
  
 }
 .nav>ul>li{
   justify-content: flex-end;
   padding: 10px;
    
  }

  .card{
   width:200px;
   border: 1px solid #bff1ff;
   padding: 10px;
   margin:10px;
  }
  .card>img{
   width:100%;
  }
  .Restraurant-list{
   display: flex;
   flex-wrap: wrap;
  }
  /* .card>h4{
   width:auto;
  } */